@charset "UTF-8";

#myBankPayment body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #322d28;
}

#myBankPayment header.top-bar h1 {
  font-family: "Montserrat", sans-serif;
}

#myBankPayment main {
  margin-top: 4rem;
/*   min-height: calc(100vh - 107px); */
}
#myBankPayment main .inner-container {
  max-width: 800px;
  margin: 0 auto;
}

#myBankPayment table.invoice {
  background: #black;
  border: 1px solid #fff;
}

#myBankPayment table.invoice .num {
  font-weight: 200;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-size: 0.8em;
}
#myBankPayment table.invoice tr, table.invoice td {
  background: #black;
  text-align: left;
  font-weight: 400;
  color: #white;
}
#myBankPayment table.invoice tr.header td img {
  max-width: 300px;
}
#myBankPayment table.invoice tr.header td h2 {
  text-align: left;
  font-family: "Montserrat", sans-serif;
  font-weight: 200;
  font-size: 2rem;
  color: #0f4c81;
}


#myBankPayment table.invoice tr.intro td:nth-child(2) {
  text-align: right;
}
#myBankPayment table.invoice tr.details > td {
  padding-top: 4rem;
  padding-bottom: 0;
}
#myBankPayment table.invoice tr.details td.id, table.invoice tr.details td.qty, table.invoice tr.details th.id, table.invoice tr.details th.qty {
  text-align: center;
}
#myBankPayment table.invoice tr.details td:last-child, table.invoice tr.details th:last-child {
  text-align: right;
}
#myBankPayment table.invoice tr.details table thead, table.invoice tr.details table tbody {
  position: relative;
}
#myBankPayment table.invoice tr.details table thead:after, table.invoice tr.details table tbody:after {
  content: "";
  height: 1px;
  position: absolute;
  width: 100%;
  left: 0;
  margin-top: -1px;
  background: #c8c3be;
}
#myBankPayment table.invoice tr.totals td {
  padding-top: 0;
}
#myBankPayment table.invoice tr.totals table tr td {
  padding-top: 0;
  padding-bottom: 0;
}
#myBankPayment table.invoice tr.totals table tr td:nth-child(1) {
  font-weight: 500;
}
#myBankPayment table.invoice tr.totals table tr td:nth-child(2) {
  text-align: right;
  font-weight: 200;
}
#myBankPayment table.invoice tr.totals table tr:nth-last-child(2) td {
  padding-bottom: 0.5em;
}
#myBankPayment table.invoice tr.totals table tr:nth-last-child(2) td:last-child {
  position: relative;
}
#myBankPayment table.invoice tr.totals table tr:nth-last-child(2) td:last-child:after {
  content: "";
  height: 4px;
  width: 110%;
  border-top: 1px solid #0f4c81;
  border-bottom: 1px solid #0f4c81;
  position: relative;
  right: 0;
  bottom: -0.575rem;
  display: block;
}
#myBankPayment table.invoice tr.totals table tr.total td {
  font-size: 1.2em;
  padding-top: 0.5em;
  font-weight: 700;
}
#myBankPayment table.invoice tr.totals table tr.total td:last-child {
  font-weight: 700;
}

#myBankPayment .additional-info h5 {
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #0f4c81;
}