
/*GENERAL STYLE*/

body {
    font-family: 'Open Sans', serif;
    padding-top: 54px;
    background: #111;
}

@media (min-width: 992px) {
    body {
        padding-top: 0;
        /* padding-left: 17rem; */
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Saira Extra Condensed', serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

a {
    color: #2196f3;
}

a:hover,
a:focus,
a:active {
    color: #0f72c1;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Saira Extra Condensed', serif;
    font-size: 1.35rem;
}

/*==================================================
                  SOCIAL-ICON
====================================================*/
  .list-social-icons a {
      color: #495057;
  }

  .list-social-icons a:hover {
      color: #2196f3;
  }

  .list-social-icons a .fa-lg {
      font-size: 1.75rem;
  }

  .list-icons {
      font-size: 3rem;
  }

  .list-icons .list-inline-item i:hover {
      color: #2196f3;
  }

/*==================================================
                    NAV-BAR
====================================================*/
 /*  #sideNav .navbar-nav .nav-item .nav-link {
      font-weight: 600;
      text-transform: uppercase;
  }

  @media (min-width: 992px) {
      #sideNav {
          text-align: center;
          position: fixed;
          top: 0;
          left: 0;
          display: flex;
          flex-direction: column;
          width: 17rem;
          height: 100vh;
      }
      #sideNav .navbar-brand {
          display: flex;
          margin: auto auto 0;
          padding: 0.5rem;
      }
      #sideNav .navbar-brand .img-profile {
          max-width: 10rem;
          max-height: 10rem;
          border: 0.5rem solid rgba(255, 255, 255, 0.2);
      }
      #sideNav .navbar-collapse {
          display: flex;
          align-items: flex-start;
          flex-grow: 0;
          width: 100%;
          margin-bottom: auto;
      }
      #sideNav .navbar-collapse .navbar-nav {
          flex-direction: column;
          width: 100%;
      }
      #sideNav .navbar-collapse .navbar-nav .nav-item {
          display: block;
      }
      #sideNav .navbar-collapse .navbar-nav .nav-item .nav-link {
          display: block;
      }
  }
 */
/*==================================================
                  BUTTON (Generic)
====================================================*/

.btn-general {
    background-color: transparent;
    text-align: center;
    border-width: 1px;
    
    font-size: 20px;
    padding: 10px 15px;
    font-weight: 400;
    text-transform: uppercase;
    border-radius:3px;
   
}

.btn-white {
    border-color: #2196f3;
    background-color: #2196f3;
    color: #fff;
}

.btn-white:hover,
.btn-white:focus {
    background-color: transparent;
    color: #2196f3;
    cursor: pointer;
}

.btn-green {
	
    color: #bbbbbb;
    
}

.btn-green:hover,
.btn-green:focus {
	border-bottom-style: solid;
	border-width:1px;
    border-color: #fff;
    border-radius:0px;
    background-color: #111;
    color: #fff;
    cursor: pointer;
    
}

/*==================================================
                  SECTION (Generic)
====================================================*/
  .heading-border {
      width: 60px;
      height: 10px;
      background-color: #2196f3;
      margin: 0 auto 20px auto;
  }

  section.resume-section {
      border-bottom: 1px solid #dee2e6;
      padding-top: 5rem !important;
      padding-bottom: 5rem !important;
  }

  section.resume-section .resume-item .resume-date {
      min-width: none;
  }

  @media (min-width: 768px) {
      section.resume-section {
          min-height: 100vh;
      }
      section.resume-section .resume-item .resume-date {
          min-width: 18rem;
      }
  }

  @media (min-width: 992px) {
      section.resume-section {
          padding-top: 3rem !important;
          padding-bottom: 3rem !important;
      }
  }

  .bg-primary {
      background-color: #111 !important;
  }

  .text-primary {
      color: #2196f3 !important;
  }

/*==================================================
                      ABOUT
====================================================*/
  #about {
      background-image: url(../img/profile-banner.jpg); 
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
  }

  #about h1 {
    /*font-size: 100%;*/
  }

/*==================================================
                    EXPERIENCE
====================================================*/  
  #experience {
    background: #f5f5f5;
  }

  #experience .card h4{
    font-family: 'Roboto Condensed', sans-serif;
    text-transform: none;
    color:#555;
  }

/*====================================================
                   PORTFOLIO
======================================================*/

#portfolio{
    padding:100px 0;
} 

.port-head-cont{
    margin:20px auto 40px auto;
    text-align: center;
}

.port-head-cont button{
    margin:5px 2px;
}

#portfolio .portfolio-item {
    right: 0;
    margin: 0 0 15px;
     
}

#portfolio .portfolio-item .portfolio-link {
    position: relative;
    display: block;
    max-width: 400px;
    margin: 0 auto;
   
    cursor: pointer;
}

#portfolio .portfolio-item .portfolio-link .caption-port {
    
    position: absolute;
    width: 100%;
    height: 100%;
     border-radius:5px;
    -webkit-transition: all ease 0.5s;
    -moz-transition: all ease 0.5s;
    transition: all ease 0.5s;
    opacity: 0;
    background: rgba(0, 0, 0, 0.6);
    padding:0;
   
    
}



#portfolio .portfolio-item .portfolio-link .caption-port .simpletxt {
	text-align: center;
	/* border-top: 1px solid #F6F6FB; */
	border-bottom: 1px solid #F6F6FB;
	margin-top: 40px;
	margin-left: 58px;
	margin-right: 58px;
	padding-top: 45px;
}
#portfolio .portfolio-item .portfolio-link .caption-port .simpletxt>h3 {
	font-family: "OpenSans Semibold";
	font-size: 13.6px;
	color:#E7E7E7;
	margin: 0px;
}

#portfolio .portfolio-item .portfolio-link .caption-port .simpletxt>p {
	font-family: "OpenSans Regular";
	font-size: 11.2px;
	color: #E7E7E7;
	padding-top: 7px;

	}
#portfolio .portfolio-item .portfolio-link .caption-port .simpletxt>h4{
	font-family: "OpenSans Regular";
	font-size:11.3px;
	font-weight: bold;
	text-align: center;
	color: #FFF;
	padding-bottom: 25px;

	}
#portfolio .portfolio-item .portfolio-link .caption-port .simpletxt>button {
	background: none;
	border: 1px solid #fff;
	font-family:"OpenSans Regular";
	color: #fff;
	margin-bottom: 14px;

	}
#portfolio .portfolio-item .portfolio-link .caption-port .wishtxt {
	padding-bottom: 42px;

	}
#portfolio .portfolio-item .portfolio-link .caption-port .wishtxt .paragraph1 {
	font-family: "OpenSans Regular";
	font-size:11.32px;
	color: #fff;
	float: left;

	}
#portfolio .portfolio-item .portfolio-link .caption-port .wishtxt .paragraph2{
	font-family: "OpenSans Regular";
	font-size: 11.32px;
	color: #fff;
	float: right;

	}
#portfolio .portfolio-item .portfolio-link .caption-port .stars2 {
	font-size: 7px;
	padding-top: 10px;
	margin-top: 2px;
	text-align: center;
	border-top: 2px solid #F6F6FB;
	margin-left:58px;
	margin-right: 58px;
	color: #F6F6FB;

	}


#portfolio .portfolio-item .portfolio-link .img-fluid{
	
border-radius:5px;
}

#portfolio .portfolio-item .portfolio-link .caption-port:hover {
    opacity: 1;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content {
    font-size: 20px;
    /* position: absolute; */
    top: 50%;
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    color: #fff;
}



#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content i {
    margin-top: -12px;
}

#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h3,
#portfolio .portfolio-item .portfolio-link .caption-port .caption-port-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

@media (min-width: 767px) {
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}

.portfolio-modal .modal-dialog {
    max-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    border: none;
    border-radius: 0;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.portfolio-modal .title-bar {
    padding: 0 0 50px 0;
}

.portfolio-modal .title-bar h1{
    visibility: initial;
    animation-name: initial;
}

.portfolio-modal .modal-dialog .modal-content {
    padding: 10px 0 100px 0;
    border: 0;
    border-radius: 0;
} 

.portfolio-modal .modal-dialog .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-dialog .modal-content .item-details {
    margin: 30px 0;
}
 
.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
}

.portfolio-modal .close-modal:hover {
    opacity: 0.3;
}

.portfolio-modal .close-modal .lr {
    /* Safari and Chrome */
    z-index: 1051;
    width: 1px;
    height: 75px;
    margin-left: 35px;
    /* IE 9 */
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #2C3E50;
}

.portfolio-modal .close-modal .lr .rl {
    /* Safari and Chrome */
    z-index: 1052;
    width: 1px;
    height: 75px;
    /* IE 9 */
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    background-color: #2C3E50;
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

@media (max-width: 850px){
    .portfolio-modal .close-modal{
        display: none;
    }
}  





