@charset "UTF-8";

/* 폰트설정 시작 */

h1,h2,h3,h4,h5,h5,p{
    
    font-family: LeferiPoint-WhiteObliqueA;
    }
/* 폰트설정 끝*/

body{
	background-color: #111;
	color: #BBBBBB;
}

.header{
	background-color: #111;
	color: #BBBBBB;
	position: sticky;
}


.Home-Title{
	font-family: LeferiPoint-WhiteObliqueA;
}

main{
	color: #BBBBBB;
	font-family: LeferiPoint-WhiteObliqueA;
}

.nav-top ,
.nav-second{
	height: 40px;
	background-color: #111;
	
}


.nav-second{
	padding : 0;
	margin : 0;
	height: 70px;
	vertical-align: middle;
}

.nav-item .nav-link{
	box-shadow: azure;
	margin: 0 5px;
	background-color: rgba(240, 255, 255, 0.081);

}

hr{
	color: black;
	padding:0.5px; 
}

.letter{
	color: black;
	padding:10px;
}

.card{
	height: 400px;
	
}
.cards{
	height: 700px;
	
}

.gallery{
	height: 250px;
}


h3 {
	font-weight:bold;
}

h3 > a{
	text-decoration: none;
	color: #cccccc;
}



.card-title, .card-text{
	color: #121212;
	font-family: 'LeferiPoint-WhiteObliqueA';
}
.card-text{
	font-family : LeferiPoint-WhiteObliqueA;
}



.nav-link{
	color: #BBBBBB;
	font-weight: bolder;	
	
}

.nav-link:hover{
	color:white;
}

.modal-dialog{
	max-width:400px;
}

#idMsg, #pwMsg {
	color:crimson;
	display:none;
}

.welcomeMsg {
	padding-right : 25px;
	color:white;
	font-size:1.3em;
	line-height:32px;
}





td .wishTable{
	vertical-align: middle;
	font-weight: bolder;
}

